#app {
    display: flex;
    gap: 15px;
}
.music-container {
    box-shadow: 1px 1px 2px #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    color: white;
    user-select: none;
}

.music-container:hover {
}

.music-text {
}
